# Pandas 也可以做網頁爬蟲

> 以 pd.read_html 讀取 HTML 文件中的 <table\></table\> 資料。
>
> 標籤：獲取載入

郭耀仁 <yaojenkuo@datainpoint.com> from [DATAINPOINT](https://datainpoint.substack.com/welcome)

In [1]:
import pandas as pd

## TL; DR

在這個專案中，我們打算使用 Pandas 中的函式 read_html 將 HTML 文件中的 <table\></table\> 資料擷取成為 DataFrame，以 [Yahoo! 奇摩股市](https://tw.stock.yahoo.com/)的兩個頁面為例。

## 上市行情類排行榜：單日成交價排行的頁面

<https://tw.stock.yahoo.com/d/i/rank.php?t=pri&e=TAI&n=100>

In [2]:
rank_url = "https://tw.stock.yahoo.com/d/i/rank.php?t=pri&e=TAI&n=100"
html_tables = pd.read_html(rank_url, encoding='big5')
print(len(html_tables)) # 頁面中有幾組 <table></table> 標記

5

In [3]:
html_tables[4] # 所需要的資料框

,名次,股票代號/名稱,成交價,漲跌,漲跌幅,最高,最低,價差,成交張數,成交值(億)
0,1,3008 大立光,3165.0,▽30.00,-0.94%,3180.0,3145.0,35.0,326,10.3047
1,2,6415 矽力-KY,1855.0,▽5.00,-0.27%,1870.0,1825.0,45.0,171,3.1513
2,3,5269 祥碩,1550.0,▽20.00,-1.27%,1580.0,1525.0,55.0,720,11.1243
3,4,6409 旭隼,962.0,▽20.00,-2.04%,984.0,962.0,22.0,102,0.9876
4,5,6669 緯穎,735.0,▽11.00,-1.47%,746.0,734.0,12.0,396,2.9231
...,...,...,...,...,...,...,...,...,...,...
95,96,6456 GIS-KY,119.5,▽0.50,-0.42%,121.0,119.0,2.0,1729,2.0683
96,97,4119 旭富,118.0,▽1.00,-0.84%,120.0,118.0,2.0,147,0.1747
97,98,3044 健鼎,116.0,▽1.00,-0.85%,118.0,115.5,2.5,1128,1.3155
98,99,5434 崇越,114.0,△0.50,+0.44%,114.5,113.0,1.5,147,0.1675
99,100,5203 訊連,113.0,▽1.00,-0.88%,113.5,113.0,0.5,66,0.0747

## 個股基本營收盈餘的頁面：以台積電為例

<https://tw.stock.yahoo.com/d/s/earning_2330.html>

In [4]:
earnings_url = "https://tw.stock.yahoo.com/d/s/earning_2330.html"
html_tables = pd.read_html(earnings_url, encoding='big5')
print(len(html_tables)) # 頁面中有幾組 <table></table> 標記

12

In [5]:
html_tables[4] # 所需要的資料框

,0,1,2,3,4,5,6,7,8
0,108 年 度,108 年 度,108 年 度,109 年 度,109 年 度,109 年 度,109 年 度,109 年 度,109 年 度
1,月,營 收,年增率,月,營 收,年增率,累計營收,年增率,達成率
2,1,78093827,-2.07%,1,103683135,32.77%,103683135,32.77%,-
3,2,60889055,-5.80%,2,93394449,53.38%,197077584,41.80%,-
4,3,79721587,-23.12%,3,113519599,42.40%,310597183,42.02%,-
5,4,74693615,-8.77%,4,96001572,28.53%,406598755,38.58%,-
6,5,80436931,-0.66%,5,93819010,16.64%,500417765,33.86%,-
7,6,85867929,21.91%,6,120877785,40.77%,621295550,35.15%,-
8,7,84757724,13.97%,7,105963468,25.02%,727259018,33.57%,-
9,8,106117619,16.54%,8,122878244,15.79%,850137262,30.67%,-
10,9,102170096,7.64%,9,127584492,24.87%,977721754,29.89%,-
11,10,106039531,4.42%,10,-,-,-,-,-
12,11,107884396,9.65%,11,-,-,-,-,-
13,12,103313138,15.01%,12,-,-,-,-,-

In [6]:
html_tables[7] # 所需要的資料框

         0          1        2        3          4        5        6
0  108 年 度    108 年 度  108 年 度  109 年 度    109 年 度  109 年 度  109 年 度
1        季    稅 後 盈 餘    年 增 率        季    稅 後 盈 餘    年 增 率    達 成 率
2        1   61393851  -31.62%        1  116986720   90.55%        -
3        2   66764850   -7.64%        2  120822193   80.97%        -
4        3  101069886   13.47%        3          -        -        -
5        4  116035081   16.05%        4          -        -        -

In [7]:
html_tables[10] # 所需要的資料框

         0          1        2        3          4        5        6
0  108 年 度    108 年 度  108 年 度  109 年 度    109 年 度  109 年 度  109 年 度
1        季    稅 前 盈 餘    年 增 率        季    稅 前 盈 餘    年 增 率    達 成 率
2        1   68181652  -31.78%        1  132147178   93.82%        -
3        2   80545440   -8.04%        2  136398638   69.34%        -
4        3  112336271   13.59%        3          -        -        -
5        4  128781973   15.93%        4          -        -        -